*.class

# Package Files #
*.jar
*.war
*.ear

# cache files #
*~

# build folder #
bin

# sound files with unknown legal status #
sfx/orig
sfx/damage3.wav
sfx/die.wav
sfx/music.wav
sfx/music2.wav
sfx/quaddamage.wav
